@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Tulpen+One");
@import url("https://fonts.googleapis.com/css?family=Eater");

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


.scroller {
    width: 50%;
    display:inline-block;
    overflow-y: auto;
    height: 1000px;
    background-image: url('../img/lines.jpg');
    float: left;
}

.scroller::-webkit-scrollbar {
    display: none;
}

/* Selected section at full opacity */
/*.scroller .selected {
    opacity:1;
}*/

#vis-container {
    float:right;
    height: 1000px;
    display:inline-block;
    width: 50%;
    background-image: url('../img/lines.jpg');

}

.box {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.9;
}

#right-box {
    height: inherit;
}

.vis {
    display:inline-block;
    overflow-y: auto;
    font-size:20px;
    opacity: 1.0;
}

#story {
    font-family: "Cabin Sketch";
    padding-left: 5px;
    font-size:20px;

}

p {
    padding-bottom: 600px;
}

.pack {
    font-family: "Tulpen One";
    font-size: 175%;
}

.crack {
    font-family: "Eater";
}

footer {
        background: #ffc119;
        padding-bottom: 0;

}

p2 {
    font-family: "Cabin Sketch";
}

p3 span {
    display: block;
    font-family: "Cabin Sketch";
    font-size: 75%;
}




